.ms-btn-box {
    display: flex;
    height: 20px;
    padding: 6px 16px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    border: 1px solid #8d9096;
}

.ms-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.ms-btn-success {
    background-color: #2ca01c;
    color: #fff;
}

.ms-btn-success:hover {
    background-color: #35bf22;
}

.ms-btn-secondary {
    background-color: #fff;
}

.ms-btn-secondary:hover {
    background-color: #d2d3d6;
}

.no-border {
    border: none !important;
}